:root { --mavi: #6bc2f1 }
header { background: url('img/headerbg.jpg') 60% 50%/cover }
#feature1 { background: url('img/feature1.jpg') center/cover }
#feature2 { background: url('img/feature2.jpg') center/cover }
#feature1:hover, #feature2:hover { opacity: .5 }
#feature1:hover h5, #feature2:hover h5 { opacity: 1!important }

.text-mavi { color: var(--mavi) }
.bg-mavi { background-color: var(--mavi) }
.bg-boz { background-color: #f1f1f1 }
.vh-50 { min-height: 50vh;}

.carousel-inner{height: 250px;}
#jane { 
    background: url('img/jane.png') center/cover;
    padding: 5px 0;
}
#emine{
    background: url('img/emine.png') center/cover; 
    padding: 5px 0;
}
#elnare{
    background: url('img/elnare.png') center/cover;
    padding: 5px 0;
}
#idris{
    background: url('img/idris.png') center/cover;
    padding: 5px 0;
}
#ilkin{
    background: url('img/ilkin.png') center/cover;
    padding: 5px 0;
}

.carousel-indicators .active {
    scale: 1.5;
}
footer{
    background-color: #072035;
}